/* update-task-dialog.component.css */
#update-task-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  
}

.modal-dialog {
  max-width: 400px;
  max-height: 900px;
  border:  black solid;
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.modal-header{
  display: flex;
  justify-content: space-between;
}

.modal-title{
  font-size: large;
  font-weight: bold;
}

.close-dialog{
  background-color: red;
  color:white;
  border: none;
}

.modal-footer{
  display: flex;
  justify-content: space-between;
}

.modal-body form{
  gap: 1rem;
}